<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <script>
        let currentCategoryId = {{ currentCategoryId }};
        let currentSort = '{{ currentSort }}';
    </script>
</head>
<body>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3">
            <ul>
                {% for category in categories %}
                    <li onclick="changeCategory({{ category.id }})" style="cursor: pointer">
                        {{ category.name }} ({{ category.products.count }})
                    </li>
                {% endfor %}
            </ul>
        </div>
        <div class="col-sm-9">
            <h3 id="productsListCaption">{{ currentCategory.name|default('Всі продукти') }}</h3>
            <label for="sort">Сортування:</label>
            <select id="sort" name="sort" onchange="changeSort(this)" class="form-select form-select-sm"
                    style="display: inline-block; width: auto">
                <option value="price"{% if currentSort == 'price' %} selected{% endif %}>спочатку дешевші</option>
                <option value="name"{% if currentSort == 'name' %} selected{% endif %}>за алфавітом</option>
                <option value="date"{% if currentSort == 'date' %} selected{% endif %}>спочатку нові</option>
            </select>
            <div id="productsWrapper">
                {% for product in products %}
                    <div class="p-2">
                        <p class="lead">{{ product.name }}</p>
                        {{ product.priceFormatted }} грн.<br>
                        {{ product.createdAt|date('d.m.Y') }}<br>
                        <button class="btn btn-primary btn-sm" onclick="showProductDetails({{ product.id }})">Купити</button>
                    </div>
                {% else %}
                    <div>Жодного продукту не знайдено в категорії</div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="productModal" tabindex="-1" aria-labelledby="productModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="productModalLabel">Інформація про товар</h5>
            </div>
            <div class="modal-body">
                <p>Ціна: <span id="productModalPrice"></span> грн.</p>
                <p>Дата додавання у каталог: <span id="productModalCreatedDate"></span></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Закрити</button>
            </div>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
        integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js"
        integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous"></script>
<script src="/js/catalog.js"></script>
</body>
</html>
