<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
</head>
<body>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3">
            <ul>
                {% for category in categories %}
                    <li onclick="changeCategory({{ category.id }})" style="cursor: pointer">
                        {{ category.name }} ({{ category.products.count }})
                    </li>
                {% endfor %}
            </ul>
        </div>
        <div class="col-sm-auto">
            <h3 id="productsListCaption">{{ currentCategory.name|default('Всі продукти') }}</h3>
            <div id="productsWrapper">
                {% for product in products %}
                    <div class="p-2">
                        <p class="lead">{{ product.name }}</p>
                        {{ product.priceFormatted }} грн.<br>
                        {{ product.createdAt|date('d.m.Y') }}<br>
                        <button class="btn btn-primary btn-sm" onclick="showProductDetails({{ product.id }})">Купити</button>
                    </div>
                {% else %}
                    <div>Жодного продукту не знайдено в категорії</div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="productModal" tabindex="-1" aria-labelledby="productModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="productModalLabel">Інформація про товар</h5>
            </div>
            <div class="modal-body">
                <p>Ціна: <span id="productModalPrice"></span> грн.</p>
                <p>Дата додавання у каталог: <span id="productModalCreatedDate"></span></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Закрити</button>
            </div>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js"
        integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous"></script>
<script>
    function changeCategory(categoryId) {
        const url = '/category/' + categoryId;

        let request = new XMLHttpRequest();
        request.onreadystatechange = function() {
            if (this.readyState === 4) {
                if (this.status === 200) {
                    try {
                        let response = JSON.parse(this.responseText);

                        updateProductsList(response);
                    } catch (err) {
                        console.error(err.message + " in " + this.responseText);
                    }
                } else {
                    console.error("AJAX error");
                }
            }
        };
        request.open("GET", url, true);
        request.send();
    }

    function updateProductsList(response) {
        document.getElementById('productsListCaption').textContent = response.category.name;

        const productsWrapper = document.getElementById('productsWrapper');
        clearElementChildren(productsWrapper);
        addProducts(productsWrapper, response.category.products);

        const newUrl = window.location.protocol + '//' + window.location.host + '/?c=' + response.category.id;
        window.history.pushState({}, response.category.name, newUrl);
    }

    function clearElementChildren(element) {
        while (element.firstChild) {
            element.removeChild(element.lastChild);
        }
    }

    function addProducts(wrapper, products) {
        let newProduct = '';
        products.forEach((product) => {
            newProduct += `<div class="p-2">
                <p class="lead">${product.name}</p>
                ${product.priceFormatted } грн.<br>
                ${product.createdAt}<br>
                <button class="btn btn-primary btn-sm" onclick="showProductDetails(${product.id})">Купити</button>
            </div>`;

            wrapper.innerHTML = newProduct;
        });
    }

    function showProductDetails(productId) {
        const url = '/product/' + productId;

        let request = new XMLHttpRequest();
        request.onreadystatechange = function() {
            if (this.readyState === 4) {
                if (this.status === 200) {
                    try {
                        let response = JSON.parse(this.responseText);

                        const productModalElement = document.getElementById('productModal');
                        productModalElement.querySelector('#productModalLabel').textContent = response.name;
                        productModalElement.querySelector('#productModalPrice').textContent = response.priceFormatted;
                        productModalElement.querySelector('#productModalCreatedDate').textContent = response.createdAt;

                        const myModal = new bootstrap.Modal(productModalElement);
                        myModal.show();
                    } catch (err) {
                        console.error(err.message + " in " + this.responseText);
                    }
                } else {
                    console.error("AJAX error");
                }
            }
        };
        request.open("GET", url, true);
        request.send();
    }
</script>
</body>
</html>
